/* Layouts */
.page-body-wrapper {
  background: $content-bg;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
  min-height: 100vh;
  @include flex-grow(1);

  &.full-page-wrapper {
    width: 100%;
    min-height: 100vh;
    padding-top: 0;
  }
}

.content-wrapper {
  background: #dddce1;
  padding: 1.5rem 2.5rem;
  width: 100%;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  min-height: 100vh;
}

.grid-margin.stretch-card {
  margin-top: 7rem;
  min-height: 60vh;
}

.wrapper-loading {

  text-align: center;
  width: 100%;
  position: relative;
  top: 150px;

  .spinner-border {
    width: 4rem;
    height: 4rem;
  }
}

.input-group-prepend.hover-cursor,
.dropdown-item {
  border: 0;
  outline: none;
}

.nav-search {
  .input__wrapper {
    width: calc(100% - 30px);
  }
}

.wrapper-pagination {
  margin-top: 4rem;
  text-align: center;
  max-width: 400px;
  margin: auto;

  .pagination {
    justify-content: center;
  }

  li {
    min-width: 40px;
    height: 40px;
    padding: 5px;
    border: 1px solid $cyan;
    border-right: 0;
    transform: transition 0.3s;

    &:last-child {
      border-right: 1px solid $cyan;
    }

    &.disabled {
      pointer-events: none;
      cursor: not-allowed;
    }

    &.active {
      a {
        text-decoration: underline;
        color: $black;
        font-weight: 700;
      }
    }

    a {
      margin-top: 3px;
      display: block;
      transform: transition 0.3s;
    }
  }
}
